.addProduct {
  margin: auto;

  // display: flex;
}
.container {
  background-color: #d0d5d8;
  width: 1300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  // box-sizing: border-box;
}
.product {
  width: 400px;
  background-color: #b6bbbe;
  margin: 10px;
  margin-left: 18px;
  text-align: center;
  border: 1px solid silver;
}
.productImg {
  width: 250px;
  height: 300px;
}
.pagination {
  margin: auto;
}
