.navHeader {
  max-width: 1700px;
  width: 100%;
  height: 7vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.headerImage {
  background-color: yellow;
  color: white;
  margin-left: 50px;
}
.image {
  width: 60px;
  height: 50px;
}
.headerLink {
  // background-color: red;
  margin-right: 200px;
  text-align: center;
  font-family: cursive;
}
