.createproduct {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.inputButton {
  display: flex;

  width: 550px;
  margin: auto;
}
.input {
  width: 400px;
  height: 30px;
  margin: auto;
  border-radius: 5px;
}
button {
  margin: auto;
}
